version: 2

jobs:
  build:
    docker:
      - image: circleci/golang:1.12
    working_directory: /go/src/github.com/sylabs/slurm-operator

    steps:
      - checkout
      - run:
          name: Unit tests
          command: make test
